.title{
    text-align: center;
    padding: 2rem;
    border-bottom: 5px black solid;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: black;
}
